// global colors
$global-buttcolor: rgb(0, 0, 0);
$global-textcolor: rgb(255, 255, 255);

// task item colors
// $task-activecolor: rgb(164, 201, 97);
$task-activecolor: rgb(159, 189, 105);

//measurements
$main-radius: 8px;
$break-tablet: 769px;
$break-desktop: 1024px;
