@use "../../styles/variabless" as v;
@use "../../styles/mixins" as m;

.itemCard {
  position: relative;
  display: flex;
  //Mobile
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  padding: 15px;
  padding-right: 35px;

  // тут добавить еще пару классов под приоритет или сложность задачи, красный/желтый/зеленый
  &.completed {
    background-color: rgb(32, 32, 32);
    color: rgba(255, 255, 255, 0.596);
  }
  &.activtask {
    // background-color: rgb(159, 189, 105);
    background-color: v.$task-activecolor;
    color: black;
  }
  span {
    flex: 1;
    cursor: pointer;
    // color: black;
    font-size: 18px;
    word-break: break-word;
  }
}

// input {
//   box-sizing: border-box;
//   width: 100%;
//   border: none;
//   outline: none;
//   font-size: 16px;
//   background: v.$but-color;
//   padding: 7px 10px;
//   line-height: 1.5;
//   border-radius: v.$main-radius;
//   margin-left: 6px;
//   &:hover {
//     background: v.$but-hover-color;
//   }
//   &::placeholder {
//     font-style: italic;
//     color: rgba(255, 255, 255, 0.685);
//     opacity: 1;
//   }

//   @media (min-width: 768px) {
//     flex-direction: row;
//     align-items: center;
//     padding: 10px;

//     button {
//       width: auto;
//       margin-left: 10px;
//     }

//     input {
//       width: auto;
//       margin-left: 6px;
//     }
//   }
// }

.kebabContainer {
  position: absolute;
  top: 10px;
  right: 12px;
  display: inline-block;
  //   z-index: 5;
}
.kebabButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: background 0.2s;
  z-index: 1;

  &:active {
    transform: scale(0.95);
    transform: translate(0, 3px);
    transition: all 0.5s ease;
  }
}
.kebabMenuButton {
  position: absolute;
  //   top: 100%;
  top: 15px;
  right: 9px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  z-index: 999;

  //окно
  background-color: rgb(43, 43, 43);
  border-radius: 8px;
  padding: 9px;
  min-width: 120px;
  box-shadow: -2px 2.5px 2px rgba(0, 0, 0, 0.452);

  button {
    @include m.global-but {
      padding: 10px;
    }

    // &.active {
    //   transform: scale(0.95);
    //   transform: translate(0, 3px);
    //   transition: all 0.5s ease;
    // }
  }
}

.dateContainer {
  &.active {
    color: rgba(0, 0, 0, 0.418);
  }
  &.completed {
    color: rgba(255, 255, 255, 0.185);
  }
}
