@use "../../styles/variabless" as v;
@use "../../styles/mixins" as m;

.filterContainer {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding: 10px 15px;
  gap: 12px;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  button {
    flex: 1;

    // min-width: 90px;
    white-space: nowrap;
    text-align: center;

    padding: 0.8rem 0;

    color: rgba(255, 255, 255, 0.35);
    background-color: v.$global-buttcolor;
    border-radius: 20px;
    border: 1px solid;

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
    &:active {
      transform: scale(0.95) translate(0, 3px);
      transition: all 0.2s ease;
    }
    &.completed {
      color: v.$global-textcolor;
      transform: scale(1.05);
    }
  }
}
