@use "../../styles/variabless" as v;
@use "../../styles/mixins" as m;

.filterContainer {
  display: flex;
  justify-content: center;

  overflow-x: auto;
  padding: 9px 0 9px 0;
  gap: 1.1rem;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  button {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.384);
    border: none;
    padding: 0.8rem 2.2rem;
    background-color: v.$global-buttcolor;
    border-radius: 20px;
    border: 1px solid;

    &:hover {
      //   background: v.$but-hover-color;
      //   color: rgba(255, 255, 255, 0.918);
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
    &:active {
      transform: scale(0.95);
      transform: translate(0, 3px);
      transition: all 0.2s ease;
    }
    &.completed {
      //   border: 1px solid;
      color: v.$global-textcolor;
    }
  }
}
